nav{
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
    padding-left: 2rem;
    align-items: center;
    background-color: white;
}
.logo{
    width: 10%;
}
.logo img{
    width: 100%;
}
.nav-links {
    font-size: 1.8rem;
    display: flex;
    gap: 4rem;
}
.nav-links a{
    font-weight: 400;
    color: black;
}
.nav-links a:hover{
    scale: 1.02;
}